*, *::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    color: #eee;
    padding:4rem;
    background: linear-gradient(to bottom right, #4E9F3D,95%,#1E5128);
    min-height:100vh;
}


#root{
    display:flex;
    justify-content: center;
}

a, a:visited, a:link, a:active{
    text-decoration: none;
    color: #eee;
}